*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

:root {
    --background-green: #009688;
    --message-sent-green: #d5f9ba;
    --background-grey: #dbdbd3;
    --header-grey: #eaeaea;
    --header-icons-grey: #b1b1b1;
    --footer-grey: #f3eeea;
    --footer-icons-grey: #6b7376;
    --active-user-grey: #e9ebeb;
    --search-bar-grey: #fafafa;
    --lightblue: #8edafc;
    --main-background-height: 25px;
    --header-height: 50px;
}

/* || UTILS */
.flex{
    display: flex;
}

.align-center {
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

/* || GENERAL */
.bigger-container{
    width: 100vw;
    height: 100vh;
}

#users header,
#chat header,
#chat footer {
    height: var(--header-height);
}

header {
    background-color: var(--header-grey);
}

#users .alert,
.users-list li{
    height: 55px;
}

ul {
    list-style-type: none;
}

/* || ASIDE */
aside {
    width: 10%;
}

aside section.background-green{
    height: 110px;
}

aside section.background-grey{
    height: calc(100% - 110px);
}

/* || MAIN */
main {
    width: 80%;
}

main section.background-green,
main section.background-grey {
    height: var(--main-background-height);
}

.boolzapp {
    height: calc(100% - (var(--main-background-height) *2));
}

/* || #users */
#users {
    width: 35%;
}

header img {
    width: 35px;
    border-radius: 50%;
    margin: 0 .5rem;
}

header .user-name {
    font-size: .8rem;
}

header > div:last-child{
    margin-right: .5rem;
}

header i {
    margin: 0 .5rem;
    color: var(--header-icons-grey);
}

#users .alert {
    background-color: var(--lightblue);
}

#users .nav{
    height: 40px;
    background-color: var(--search-bar-grey);
}

.users-list li{
    background-color: white;
    border-top: 1px solid var(--active-user-grey);
}

/* || #chat */
#chat {
    width: 65%;
    flex-direction: column;
}

#chat header {
    border-left: 1.5px solid #dedede;
}

header .last-seen{
    font-size: .7rem;
    color: var(--footer-icons-grey);
}

#chat .chat{
    height: calc(100% - var(--header-height) * 2);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

footer {
    background-color: var(--footer-grey);
    border-left: 1.5px solid #dedede;
}



/* ** STYLE */
.background-green{
    background-color: var(--background-green);
}

.background-grey{
    background-color: var(--background-grey);
}