*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dark {
    --background-top: #1b1a55;
    --background-bottom: #131313;
    --header-bg: #5c469c;
    --contacts: #070f2b;
    --font: #ffffff;
    --border: #473775;
    --header-icons: #b1b1b1;
    --message-input: #352859;
    --message-input-icons: #dfb6ec;
    --active-contact: #4f3c84;
    --search-bar: #1b1a55;
    --notification: #bb86cc;
    --home-screen: #230b57;
    --add-contact-btn: #784cac;
    --message-sent-green: #aece97;
    --chat-bg-image: url(../img/mine-dark.jpg)
}

:root {
    --background-top: #009688;
    --background-bottom: #dbdbd3;
    --message-sent-green: #d5f9ba;
    --header-bg: #eaeaea;
    --header-icons: #b1b1b1;
    --message-input: #f3eeea;
    --message-input-icons: #6b7376;
    --contacts: #ffffff;
    --active-contact: #e9ebeb;
    --search-bar: #fafafa;
    --notification: #8edafc;
    --home-screen: #00655b;
    --add-contact-btn: #009688;
    --font: #000000;
    --border: #dedede;
    --header-height: 50px;
    --chat-bg-image: url(../img/mine.jpg);
}

/* || UTILS */
.flex{
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.default-font{
    font-family: "Lato", sans-serif;
}

.dyslexic-font{
    font-family: 'Open-Dyslexic', sans-serif;
}

/* || GENERAL */
.bigger-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
        var(--background-top) 0%,
        var(--background-top) 110px,
        var(--background-bottom) 110px,
        var(--background-bottom) 100%
    );
}

main {
    width: 80%;
    height: 95%;
}

#contacts header,
#chat header,
#chat .message-input {
    height: var(--header-height);
}

header {
    background-color: var(--header-bg);
}

#contacts .notification,
.contacts-list li{
    height: 55px;
}

ul {
    list-style-type: none;
}

i,
.contacts-list li,
.notification p:last-child,
.dropdown-content p,
.contact-name,
header img,
li img,
.home-screen .font-button,
button {
    cursor: pointer;
}

/* # font-size */
.contacts-list .last-message,
.contacts-list .last-seen {
    font-size: .6rem;
}

.notification p:last-child,
header .last-seen,
.message-input input,
.dropdown-btn{
    font-size: .7rem;
}

.contact-name,
.message p,
.notification p,
.contacts-list-wrapper > p {
    font-size: .8rem;
}

/* || CONTACTS */
#contacts {
    width: 35%;
}

header img {
    width: 35px;
    border-radius: 50%;
    margin: 0 .5rem;
}

.contact-name{
    color: var(--font);
}

header > div:last-child{
    margin-right: .5rem;
}

header i {
    margin: 0 .5rem;
}

#contacts .notification {
    background-color: var(--notification);
}

.notification > div:first-child {
    background-color: white;
    border-radius: 50%;
    color: var(--notification);
    width: 35px;
    height: 35px;
    justify-content: center;
    margin: 0 .5rem 0 .8rem;
}

.notification p:last-child{
    text-decoration: underline;
}

#contacts .nav{
    height: 40px;
    background-color: var(--search-bar);
    padding: .3rem;
}

.nav> div{
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--message-input);
}

.nav button {
    background-color: transparent;
    border: none;
    padding: .4rem 1.5rem;
}

.nav input {
    flex-grow: 1;
    border: none;
    padding-left: .5rem;
    border-left: 1px solid var(--search-bar);
}

.contacts-list-wrapper {
    height: calc(100% - 195px);
    background-color: var(--contacts);
    overflow-y: auto;
}

.contacts-list li{
    background-color: var(--contacts);
    border-top: 1px solid var(--active-contact);
    padding: .3rem;
}

.contacts-list li:hover{
    background-color: var(--search-bar);
}

.contacts-list li.active{
    background-color: var(--active-contact);
}

.contacts-list li img{
    width: 45px;
    border-radius: 50%;
    margin: 0 .5rem;
    align-self: center;
}

.contacts-list .contact-name{
    margin: .1rem 0;
}

.contacts-list-wrapper > p{
    text-align: center;
    margin-top: .5rem;
    font-weight: bold;
}

.add-contact {
    height: var(--header-height);
    border-top: 1px solid var(--border);
    background-color: var(--search-bar);
    padding: 0 1.5rem;
}

.add-contact p{
    color: var(--font);
    flex-grow: 1;
    text-align: center;
}

.add-contact button {
    width: 35px;
    height: 35px;
    background-color: var(--add-contact-btn);
    color: white;
    border: none;
    border-radius: 8px;
}

/* || CHAT */
#chat {
    width: 65%;
}

#chat > div{
    height: 100%;
}

.home-screen {
    background-color: var(--home-screen);
    border-left: 1px solid var(--border);
}

.home-screen header {
    justify-content: flex-end;
    padding: 0 1rem;
}

.home-screen .font-button {
    margin: 0 .6rem;
    font-size: 1.2rem;
}

.home-screen > div{
    height: calc(100% - var(--header-height));
}

.home-screen img{
    width: 350px;
    border-radius: 50%
}

.home-screen p{
    color: var(--header-icons);
    margin-bottom: 5rem;
    width: 300px;
    text-align: center;
    font-size: 1.2rem;
}

#chat header {
    border-left: 1.5px solid var(--border);
}

.chat-content{
    height: calc(100% - var(--header-height) * 2);
    overflow-y: auto;
    background-image: var(--chat-bg-image);
    padding: 2rem 5rem;
    border-left: 1px solid var(--border);
}

.message {
    width: 40%;
    padding: .2rem .3rem;
    border-radius: 8px;
    margin-bottom: .5rem;
    position: relative;
}

.message.sent{
    align-self: flex-end;
    background-color: var(--message-sent-green);
}

.message.received{
    align-self: flex-start;
    background-color: white;
}

.message p{
    flex-grow: 1;
    padding: .5rem .8rem;
}

.message span {
    font-size: .5rem;
}

.dropdown-btn {
    margin-top: .1rem;
    color: transparent;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    width: 140px;
    background-color: white;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align: center;
    top: 25px;
    right: 0px;
}

.dropdown-content p:hover{
    color: black;
}

.message-input {
    background-color: var(--message-input);
    border-left: 1.5px solid var(--border);
}

.message-input i{
    margin: 0 1.5rem;
    font-size: 1.2rem;
}

.message-input input{
    flex-grow: 1;
    border: none;
    padding: .7rem;
    border-radius: 4px;
}

/* ** STYLE */
header i,
.nav button,
.contacts-list .last-message,
.contacts-list .last-seen,
.message span,
.message:hover .dropdown-btn,
.dropdown-content,
.home-screen header {
    color: var(--header-icons);
}


.nav> div,
header .last-seen,
.message-input i,
.contacts-list-wrapper > p,
.notification p:last-child{
    color: var(--message-input-icons);
}

