<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="bigger-container flex justify-center align-center">
            <main class="boolzapp flex">
                <!-- || contacts -->
                <section id="contacts">
                    <!-- # header -->
                    <header class="flex align-center space-between">
                        <div class="flex align-center">
                            <img :src="`${myProfile.avatar}.jpg`" alt="Mio avatar">
                            <span class="contact-name"> {{ myProfile.name}} </span>
                        </div>
                        <div class="flex align-center">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- # notification -->
                    <div class="notification flex align-center">
                        <div class="flex align-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- # nav -->
                    <div class="nav">
                        <div class="flex">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- # contacts-list -->
                    <div class="contacts-list-wrapper">
                        <ul class="contacts-list">
                            <li class="flex space-between" v-for="(contact, index) in contacts" :id="contact.index" :class="(index === activeUser) ? 'active' : '' "  @click="changeActiveUser(index)">
                                <div class="flex align-start">
                                    <img :src="`${contact.avatar}.jpg`" alt="User avatar">
                                    <div>
                                        <p class="contact-name"> {{ contact.name}} </p>
                                        <p class="last-message"> {{ getLastMessage(contact.messages) }} </p>
                                    </div>
                                </div>
                                <div>
                                    <span class="last-seen">{{ getLastMessageDate(contact.messages) }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- || chat -->
                <section id="chat" class="flex">
                    <!-- # header -->
                    <header class="flex align-center space-between">
                        <div class="flex align-center">
                            <img :src="`${contacts[activeUser].avatar}.jpg`" alt="Contact avatar">
                            <div>
                                <p class="contact-name"> {{ contacts[activeUser].name}} </p>
                                <span class="last-seen">Ultimo accesso il </span>
                                <span class="last-seen">
                                    {{ getLastMessageDate(contacts[activeUser].messages) }}
                                </span>
                            </div>
                        </div>
                        <div class="flex align-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- # chat -->
                    <div class="chat">
                        <template v-for="(contact, index) in contacts" :key="contact.index">
                            <ul v-if="index === activeUser" class="flex">
                                <li class="message flex" v-for="(message, index) in contact.messages" :key="message.index" :class="(message.status === 'sent') ? 'sent' : 'received' ">
                                    <p> {{ message.message }} </p>
                                    <span> {{ getMessagesTime(message) }} </span>
                                </li>
                            </ul>
                        </template>
                        
                    </div>
                    <!-- # message-input -->
                        <div class="message-input flex align-center space-between" >
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessageContent" @keyup.enter="newConversation(contacts[activeUser].messages)">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                </section>
            </main>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>